<?xml version="1.0" encoding="UTF-8"?>
<!--
  Configurazione IIS per Laravel (da tenere nella cartella "public").
  Richiede il modulo "URL Rewrite" di IIS.
-->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Laravel - rimuovi slash finale" stopProcessing="true">
          <match url="^(.*)/$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
        </rule>
        <rule name="Laravel - front controller" stopProcessing="true">
          <match url="^" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <!-- Consente il caricamento delle foto (fino a ~50 MB) -->
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>

    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
